/* ==UserStyle==
@name           Flip App Tweaks
@namespace      github.com/openstyles/stylus
@version        2021.3.4
@description    CSS Tweaks for Flip App
@author         Alexander Sawtschuk (@cuddlecake)
@preprocessor   stylus

@var checkbox showLikes "Likes Enabled" 1
==/UserStyle== */
@-moz-document regexp("^https://.*\\.flipnext.de/.*") 
  :root 
    --theme-color-secondary-top: hsla(225, 45%, 45%, 1) !important
    --theme-color-secondary-bottom: hsla(225, 45%, 45%, 1) !important

  @media only screen and (min-width: 1024px) 
    html 
      max-width: 1200px
      margin-left: auto
      margin-right: auto
      background: rgba(0, 0, 0, 0.8)

    .combined-view 
      position: none
      .detail-container 
        width: 100% !important
        flex: 1 1 auto

    .full-screen-dialog 
      top: 10%
      max-width: 800px !important
      bottom: 10%
      max-height: 80vh
      flip-page 
        height: 100%

      .mat-dialog-container 
        border-radius: 8px

  body 
    max-width: 1600px !important
    
  flip-file-chip-download a
    border-radius: 8px !important

  flip-page.bg-default 
    background: hsla(235, 5%, 96%, 1) !important

  flip-post-feed .post 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 20%), 0 2px 2px 0 rgba(0, 0, 0, 14%), 0 1px 5px 0 rgba(0, 0, 0, 12%) !important

  flip-post 
    .post-article__like-count 
      if !showLikes 
        display: none !important
        button[data-cy="like-button"] 
          display: none !important
    
    if !showLikes 
      .post-footer 
        justify-content: flex-end !important
      
      .post-article__like-count 
        display: none !important
      
      button[data-cy="like-button"]
        display: none !important

  flip-chat flip-message 
    .message__bubble 
      border-radius: 8px !important
      box-shadow: none !important
      
      &.message__bubble--media
        padding: 2px !important
        .media-container
          border-radius: 7px !important
          
      &.message__bubble--file
        padding: 4px !important
        .message__timestamp 
          margin-top: 6px !important
          margin-right: 4px !important
      
      &.message__bubble--text
        padding: 6px 8px !important
        

    .message__bubble:not(.message__bubble--from-me) 
      border: 1px solid
      color: hsla(225, 4%, 89%, 1) !important
      background: hsla(225, 2%, 92%, 1) !important
      &.message__bubble--media
        background: hsla(225, 2%, 90%, 1) !important
      .message__content 
        color: hsla(225, 100%, 5%, 1) !important
