/* ==UserStyle==
@name           Flip App Tweaks
@namespace      github.com/openstyles/stylus
@version        2021.3.7
@description    CSS Tweaks for Flip App
@author         Alexander Sawtschuk (@cuddlecake)
@homepageURL    https://github.com/cuddlecake/flip-css-tweaks
@updateURL      https://cuddlecake.github.io/flip-css-tweaks/main.user.css
@preprocessor   stylus

@var checkbox showLikes "Likes Enabled" 1
@var checkbox showLogoInMenu "Show Logo in Menu" 0
@var color themePrimary "Theme Primary Color" hsla(225, 45%, 45%, 1)
@var color themeAccent "Theme Accent Color" hsla(225, 45%, 45%, 1)
==/UserStyle== */
@-moz-document regexp("^https://.*\\.flipnext.de/.*") 
  :root 
    --theme-color-primary-top: themePrimary !important
    --theme-color-primary-bottom: themePrimary !important
    --theme-color-secondary-top: themeAccent !important
    --theme-color-secondary-bottom: themeAccent !important

  @media only screen and (min-width: 1024px) 
    html 
      max-width: 1200px
      margin-left: auto
      margin-right: auto
      background: rgba(0, 0, 0, 0.8)

    .combined-view 
      position: initial
      .detail-container 
        width: 100% !important
        flex: 1 1 auto

    .full-screen-dialog 
      top: 10%
      max-width: 800px !important
      bottom: 10%
      max-height: 80vh
  
      flip-page 
        height: 100%

      .mat-dialog-container 
        border-radius: 8px

  body 
    max-width: 1600px !important
    
  flip-file-chip-download a
    border-radius: 8px !important

  flip-page.bg-default 
    background: hsla(235, 5%, 96%, 1) !important

  flip-post-feed .post 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 20%), 0 2px 2px 0 rgba(0, 0, 0, 14%), 0 1px 5px 0 rgba(0, 0, 0, 12%) !important
    
  .menu-content
    .menu-item-wrapper
      grid-gap: 12px !important
    if !showLogoInMenu
      padding-top: 16px
      .menu-content__logo
        display: none !important
    

  flip-post 
    .post-article__like-count 
      if !showLikes 
        display: none !important
        button[data-cy="like-button"] 
          display: none !important
    
    if !showLikes 
      .post-footer 
        justify-content: flex-end !important
      
      .post-article__like-count 
        display: none !important
      
      button[data-cy="like-button"]
        display: none !important

  flip-chat flip-message 
    .message__user-name
      display: inline
      margin-top: 0 !important
      text-decoration: underline
      text-decoration-color: transparent !important
      transition: text-decoration-color ease-in-out 100ms
      &:hover
        text-decoration-color: initial !important
        
    .message__bubble 
      border-radius: 8px !important
      box-shadow: none !important
      
      &.message__bubble--media
        padding: 2px !important
        .media-container
          border-radius: 7px !important
          
      &.message__bubble--file
        padding: 4px !important
        .message__timestamp 
          margin-top: 6px !important
          margin-right: 4px !important
      
      &.message__bubble--text
        padding: 6px 8px !important
        

    .message__bubble:not(.message__bubble--from-me) 
      border: 1px solid
      color: hsla(225, 4%, 89%, 1) !important
      background: hsla(225, 2%, 92%, 1) !important
      &.message__bubble--media
        background: hsla(225, 2%, 90%, 1) !important
      .message__content 
        color: hsla(225, 100%, 5%, 1) !important
