/* ==UserStyle==
@name           Flip App Theming
@namespace      github.com/openstyles/stylus
@version        2021.6.4
@description    CSS Theming for Flip App
@author         Alexander Sawtschuk (@cuddlecake)
@homepageURL    https://github.com/cuddlecake/flip-css-tweaks
@updateURL      https://cuddlecake.github.io/flip-css-tweaks/theme.user.css
@preprocessor stylus


@var select theme "Pre-Defined Themes" [
    "vanilla*" ,
    "bubblegum",
    "fb-dark",
    "custom"
]
@var color primary "Theme Primary Color" hsla(225, 45%, 45%, 1)
@var color secondary "Theme Secondary Color" hsla(225, 45%, 45%, 1)
@var color onPrimary "Text on Primary Color" white
@var color onSecondary "Text on Secondary Color" white
@var color bg1 "Primary Background" white
@var color bg2 "Secondary Background" white
@var color bg3 "Tertiary Background" white
@var color highEmphasis "High Emphasis Text" #212121
@var color mediumEmphasis "Medium Emphasis Text" #666666
@var color lowEmphasis "Low Emphasis Text" #9e9e9e
@var color disabled "Disabled Text" #e2e2e2
@var checkbox useCustomBgImage "Use Custom BG Image" 0
@var text bgUrl "Background URL (in newsfeed, groupfeed, messages)" "'BubblePattern.svg'"
@var checkbox isDark "Is Dark Theme" 0

==/UserStyle== */

@-moz-document domain("flip-app.dev"), domain("localhost"), domain("staging.flipnext.de") 
  $darkshadow3 = 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) 
  
  :root
    if theme == "bubblegum"
      --theme-color-primary-top: #870d75 !important
      --theme-color-primary-bottom: #870d75 !important
      --theme-color-secondary-top: #ea2e4a !important
      --theme-color-secondary-bottom: #ea2e4a !important
      --text-on-primary: #f33fcf !important
      --text-on-secondary: #fff !important
      --text-high-emphasis: #212121 !important
      --text-medium-emphasis: #666 !important
      --text-low-emphasis: #9e9e9e !important
      --bg-1: #ffbdeb !important
      --bg-2: #ffccef !important
      --bg-3: #ffdbf9 !important
      --message-bubble: var(--bg-3)
      --bg-image: url(https://cuddlecake.github.io/flip-css-tweaks/bubblegum-princess/glitter.png)
        
    if theme == "fb-dark"
      color-scheme: dark
      --theme-color-primary-top: #45c0b2 !important
      --theme-color-primary-bottom: #45c0b2 !important
      --theme-color-secondary-top: #aa558c !important
      --theme-color-secondary-bottom: #aa558c !important
      --text-on-primary: #000 !important
      --text-on-secondary: #fff !important
      --text-high-emphasis: #fff !important
      --text-medium-emphasis: #c9c9c9 !important
      --text-low-emphasis: #989898 !important
      --text-disabled: #878787 !important
      --bg-1: #18191b !important
      --bg-2: #242527 !important
      --bg-3: #3a3b3d !important
      --message-bubble: var(--bg-3)
        
    if theme == "custom"
      if isDark
        color-scheme: dark
      --theme-color-primary-top: primary !important
      --theme-color-primary-bottom: primary !important
      --theme-color-secondary-top: secondary !important
      --theme-color-secondary-bottom: secondary !important
      --text-on-primary: onPrimary !important
      --text-on-secondary: onSecondary !important
      --text-high-emphasis: highEmphasis !important
      --text-medium-emphasis: mediumEmphasis !important
      --text-low-emphasis: lowEmphasis !important
      --text-disabled: disabled !important
      --bg-1: bg1 !important
      --bg-2: bg2 !important
      --bg-3: bg3 !important
      --message-bubble: var(--bg-3)
      if useCustomBgImage
        --bg-image: url(bgUrl)
        
  if isDark
    flip-post .post, .flip-menu-card:not(:hover, :focus), .message__bubble
      box-shadow: $darkshadow3 !important
    .flip-content.with-inset-shadow::before
      box-shadow: inset $darkshadow3 !important
      
  .top-bar
    background-color: var(--bg-2) !important
      
  html, body
    background: var(--bg-1) !important
    
  flip-post .post
    background: var(--bg-2) !important
    
  .flip-list.mat-list-base.flip-list-card
    background: var(--bg-2) !important
  .flip-list.mat-list-base:not(.flip-list-card) .mat-list-item-with-avatar .mat-list-icon
    background: var(--bg-3) !important
  .mat-list-text
    color: var(--text-high-emphasis)
    
  .flip-menu-card
    background: var(--bg-2) !important
    
  .flip-menu-card-icon-background__colored
    background: var(--bg-3) !important
    
  .message__bubble:not(.by-actor)
    background-color: var(--message-bubble)
    
  .flip-list.mat-list-base 
    .mat-list-item.active, .mat-list-item:hover
      background-color: var(--bg-3) !important
    
  .search-input .search-input__background
    background: var(--bg-3) !important
    
  .base-table-content
    background-color: var(--bg-2) !important
    
  .mat-table
    background-color: var(--bg-2) !important
    
  .mat-drawer-content
    background-color: var(--bg-1) !important
    
  .feed__dayseparator
    background: var(--bg-3) !important
    color: var(--text-medium-emphasis) !important
    
  .flip-top-bar-title-widget 
    color: var(--text-high-emphasis) !important
    
  .bottom-nav
    background-color: var(--bg-2) !important
    
  .navigation-item, .bottom-nav-item
    :not(.active *)
      color: var(--text-low-emphasis) !important
  
  .footer-input
    background-color: var(--bg-3) !important
    
  .footer-input__send .mat-icon
    color: var(--text-on-primary) !important
    
  .ql-editor.ql-blank:before
    color: var(--text-low-emphasis)
    
  .search-input input::placeholder, .search-input__clear-icon, .search-input__search-icon 
    color: var(--text-low-emphasis) !important
    
  .mat-toolbar
    color: var(--text-high-emphasis)
